* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3d3d3d;
  height: 850px;
}

/* #navbar {
    background-color: #3d3d3d; */

/* overflow: hidden; */

/* position: fixed; */

/* top: 0%;
    width: 100%;
    box-shadow: 0px 5px 50px #000;
    margin-bottom: 2%;
} */

/* div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
}  */

/* ul {
    display: inline;
    margin: 0;
    padding: 0;
} */

/* #navbar ul li {
    display: inline-block;
}

#navbar ul li:hover {
    background: #555;
}

#navbar ul li:hover ul {
    display: block;
}

#navbar ul li ul {
    position: absolute;
    width: 200px;
    display: none;
    z-index: 4;
}

#navbar ul li ul li {
    background: #555;
    display: block;
}

#navbar ul li ul li a {
    display: block !important;
}

#navbar ul li ul li:hover {
    background: #666;
}

.userform {
    float: right;
}

.loginbutton {
    width: 75px;
    height: 30px;
    margin: 10px 5px 5px 5px;
    box-shadow: 0 2px 10px #000;
    cursor: pointer;
}

ul input:hover {
    background-color: #f3f3f3bb;
} */

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  padding: 3px;
  position: absolute;
}

.arrow:hover {
  cursor: pointer;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#course-arrow {
  top: 87px;
  right: 8px;
}

#clients-arrow {
  top: 12.5%;
  right: 8px;
}

.dropdown-content {
  background-color: #454545;
  display: none;
  width: 100%;
  box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.1) inset;
}

.dropdown-content-child li a {
  margin-left: 20px;
}

/* Links inside the dropdown */

.languageflags {
  width: 17.44px;
  height: 18px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.wrapper {
  height: 100%;
  width: 300px;
  position: absolute;
}

.wrapper .menu-btn {
  position: absolute;
  left: 20px;
  top: 10px;
  background: #4a4a4a;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#btn:checked~.menu-btn {
  left: 225px;
}

.wrapper .menu-btn i {
  position: absolute;
  transform: ;
  font-size: 23px;
  transition: all 0.3s ease;
}

.wrapper .menu-btn i.fa-times {
  opacity: 0;
}

#btn:checked~.menu-btn i.fa-times {
  opacity: 1;
  transform: rotate(-180deg);
}

#btn:checked~.menu-btn i.fa-bars {
  opacity: 0;
  transform: rotate(180deg);
}

#sidebar {
  position: fixed;
  background: #404040;
  height: 100%;
  width: 270px;
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;
  z-index: 9;
}

#btn:checked~#sidebar {
  left: 0;
}

#sidebar .title {
  line-height: 65px;
  text-align: center;
  background: #333;
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;
  border-bottom: 1px solid #222;
}

#sidebar .list-items {
  position: relative;
  background: #404040;
  width: 100%;
  height: 100%;
  list-style: none;
}

#sidebar .list-items li {
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}

#sidebar .list-items li:first-child {
  border-top: none;
}

#sidebar .list-items li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}

#sidebar .list-items .dropdown-content li a {
  font-size: 16px;
}

#sidebar .list-items .dropdown-content li:hover {
  background-color: #545454;
  box-shadow: none;
}

#sidebar .list-items li a i {
  margin-right: 20px;
}

#sidebar .list-items .icons {
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar .list-items .icons a {
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}

#sidebar .list-items .icons a:hover {
  background: #404040;
}

.list-items .icons a:first-child {
  margin-left: 0px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #202020;
  z-index: -1;
  width: 100%;
  text-align: center;
}

.content .header {
  font-size: 45px;
  font-weight: 700;
}

.content p {
  font-size: 40px;
  font-weight: 700;
}

#small-headline {
  color: #666;
  display: inline;
}

#text {
  background-color: #f3f3f3;
  color: #000;
  font-family: Calibri, sans-serif, times, arial;
  font-size: 20px;
  padding: 0.5% 1.5% 0 1.5%;
  width: 40%;
  height: 100%;
  line-height: 23px;
  float: left;
  border: 1px solid #000;
  border-radius: 15px;
  margin: 5% 0 1% 1%;
  /* overflow-y: scroll; */
}

#text::-webkit-scrollbar {
  width: 0;
}

.text-content ul li {
  margin-left: 3%;
}

.code-area {
  background-color: #211e2f;
  display: flex;
  flex-direction: column;
  width: 56%;
  height: 40%;
  border: 1px solid #211e2f;
  border-radius: 15px;
  float: right;
  margin-right: 1%;
  margin-top: 5%;
}

.code-area textarea {
  background-color: #211e2f;
  border: 1px solid #211e2f;
  color: #afaeae;
  resize: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 15px;
}

div.CodeMirror {
  height: 100%;
  border-radius: 15px;
}

.preview-area {
  background-color: #fff;
  width: 56%;
  height: 58%;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
  border-radius: 15px;
}

.preview-area iframe {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 15px;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
  margin: 2% 2% 0 2%;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

#instructions {
  height: auto;
  border: 2px solid #000;
  margin-top: 3%;
}

.assignments {
  list-style: none;
  text-align: left;
  font-size: 20px;
}

.assignments li {
  display: inline;
  vertical-align: center;
}

#assignment2label {
  display: flex;
  padding: 2% 0 2% 0;
}

[type="checkbox"] {
  vertical-align: baseline;
  z-index: 1;
}

#bottom-bar {
  height: 5%;
  background-color: #333333;
  position: absolute;
  /* margin-top: 10%; */
  bottom: 0;
  width: 100%;
  padding: 0.25%;
  border: 2px solid #000;
  border-bottom: 0 solid #000;
}

#advance-arrow {
  transform: rotate(180deg);
  width: auto;
  height: 100%;
  float: right;
  position: relative;
  padding: 0.125%;
  margin-right: 1%;
}

#advance-arrow:hover {
  cursor: pointer;
}

#reverse-arrow {
  width: auto;
  height: 100%;
  float: left;
  position: relative;
  padding: 0.125%;
  margin-left: 1%;
}

#reverse-arrow:hover {
  cursor: pointer;
}

#hint {
  display: none;
  background-color: #d1bd07bb;
  color: white;
  padding: 5px;
  font-size: 20px;
  border: 3px solid #000;
  width: 5%;
  height: 95%;
  margin-left: 47.5%;
  vertical-align: middle;
}

#hint:hover {
  cursor: pointer;
}